body
{
	background-image: url(images/comp.jpg);
    background-repeat: no-repeat;
	background-size: 1350px 3500px;
}
#leftbox
{
	width: 300px;
	height: auto;
	margin-left: 3%;
	margin-top: 5%;	
}
.pic
{
	text-align: center;
}
.round-picture
{   
	border-radius: 50%;
	height:200px;
	width:200x;

}
.about h1 
{
	text-align: center;
	color: white;
}
.about p
{
	text-align: center;
	color: orange;
}
#midbox
{
	width:720px;
	height: auto;
	margin-top:-40%;
	margin-left: 350px;
	
}
.education h1
{
	color: aqua;
	text-align: center;
}
.skills h1
{
	color: aqua;
	text-align: center;
}

.card_img
{
	float: left;
	height: 100px;
	width: 100px;
	border-radius: 50%;
}

.add 
{	
	margin-top: 2%;
	color: white;
	float: left;
}
.footer
{ 	width: 1347px;
	margin-top: 0%;
	height: 49%;
	background-color: black;
	position: absolute;
}
.skills h5
{
	color: white;
}
.connect
{
	margin-top: 120px;
}
.col-md-4
{	
	color: white;
}
